.code {
    background-color: #d3d3d3; 
    color: black;
    border-radius: 2%;
    padding: 1%;
}

code {
    background-color: #d3d3d3; 
    color: black; 
    border-radius: 5%;
    padding: 0.5%;
}

.outer{
    list-style-type: decimal;
}

.inner{
    list-style-type: lower-alpha;
}

th, thead {
    border: 1px solid black;
    padding: 1%;
    width: max-content;
    height: auto;
    text-align: center;
    border-collapse: collapse;
    background-color: #ffcd94;
}

td {
    padding: 1%;
    width: max-content;
    overflow: auto;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    max-width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}
